language: cpp
compiler:
    - g++
branches:
    only:
        - master
before_install:
    - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
    - sudo apt-get update -qq
    - sudo apt-get install -qq g++-4.9
    - export CXX="g++-4.9"
script: 
    - cmake ./CMakeLists.txt && make
